* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  width: 90%;
  height: auto;
  margin: 1em auto;
  scroll-behavior: auto;
  background: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  
}

.home h3 {
  margin: 0;
  padding: 0;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: .6em;
}

.total {
  border: 1px solid #ccc;
  font-size: 2em;
  font-weight: 700;
}

.total:nth-child(2) {
  font-size: 1em;
  font-weight: 300;
}

.home {
  position: relative;
}

.cartitems {
  position: absolute;
  bottom: 0;
  right: .5em;
  font-weight: 700;
  color: #000;
}

.product-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
  margin: 1em .1em;
  padding: .2em .7em;
  position: relative;
  cursor: pointer;
  position: relative;
}

.rating {
  position: absolute;
  right: 2em;
}

.product-item-img {
  width: 65%;
  height: auto;
  border-radius: 1.5em;
  object-fit:fill;
  box-shadow: 0px 2px 10px 10px #fff;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-category {
  font-weight: 700;
  border-bottom: 2px solid  #1c1c1c;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-rating {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checked {
  color: orange;


}

.product-title {
  font-weight: 500;
  font-style: italic;
  font-size: .8em;
}

.bottom-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 700;
}

.bottom-div span {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 auto;
}

.product_price {
  font-size: 1em;
  display: block;
  padding: .5em .8em;
  background: #1c1c1c;
  color: #fff;
  border-radius: 40%;
   margin-top: .3em;
}

.editqty {
    display: inline-block;
    background: #cccc;
    font-weight: 700;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    padding: 0 .7em;
    align-self: center;
    cursor: pointer;
}

.hover-div {
  position: absolute;
  top: 1em;
 }

.heart {
  color: red;
  font-weight: bold;
  cursor: pointer;
  margin: 0 2em;
}

.addcart {
  color: red;
  font-weight: bold;
  cursor: pointer;
  margin: 0 3em;
}

.cart {
  width: 80%;
  min-height: 500px;
  height: auto;
  border: 2px solid #ccc;
  margin: 2em auto;
  padding: 4em auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item-card {
  width: 90%;
  height: auto;
  margin: 1em auto;
  display: flex;
  justify-content: stretch;
  border-bottom: 1px solid #ccc;
}

.cart-item-card div {
  width: 100%;
  height: auto;
  flex: 1 1 100%;
}

.item-author {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2em;
  align-items: center;
}

.cart-info {
  width: 100%;
  height: auto;
  padding: 1em .7em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cart-price {
 display: flex;
 flex-direction: column;   
 align-items: center;
}



.price-label {
  font-size: 1em;
  margin: 1em auto;
}

.delete-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-icon {
  
  cursor: pointer;
}

.item_img {
  width: 20%;
  height: auto;
  margin: 0;
  padding: 0;
  box-shadow: 0px 4px 10px 10px #ccc;
}
.price {
  margin-top: 0;
  font-size: 2em;
  font-weight: 700;
}

@media (max-width: 500px) {

     .wrapper {
      width: 100%;
     }

  .products { 
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 1em;
  }

  .product-item {
    height: auto; 
  }

  .home h3 {
     font-size:2em;
  }

  .hover-div {
    top: 1em;
   }
   .cart {
    width: 90%;
    height: auto;
    flex-direction: column;
   }
   .rating {
      right: 3em;
  }

   .cart-item-card  {
    flex-direction: column;
    align-items: center;
    height: 50%;
   }
}